@inject IProductService _productService
<div class="">
    @if (response == null)
    {
        <p>Food Not Found</p>
    }
    else
    {
        @foreach(Product product in response.Data)
        {
            <div class="bg-white border-rounded mb-2 shadow-lg">
                <span class="position-relative">
                    <img class="w-100 border-rounded mb-2" style="" src=@product.ProductPicture />
                    @if (product.NonVeg)
                    {
                        <img height=25 width=25 class="position-absolute mt-2 me-2 end-0 z-2" src="assets/non-veg-icon.svg" />
                    }
                    else
                    {
                        <img height=25 width=25 class="position-absolute mt-2 me-2 end-0 z-2" src="assets/veg-icon.svg" />
                    }
                </span>
                <div class="mx-3 pb-2 d-flex justify-content-between">
                    <span class="fs-3 fw-bold text-dark">@product.ProductName</span>
                    <span class="text-color fs-5">
                        <span>&#8377;</span>
                        @((product.UnitPrice).ToString("F2"))
                    </span>
                </div>
            </div>
        }
        <nav class="mb-5 pb-3" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item @((response.PreviousPage == null) ? "disabled" : "")" @onclick="() => PageChange(response.PreviousPage)">
                    <span class="page-link">Previous</span>
                </li>
                @for (int pageNumber = 1; pageNumber <= response.TotalPages; pageNumber++)
                {
                    var currentPage = pageNumber;
                    <li class="page-item @(currentPage == response.PageNumber ? "active" : "")" @onclick="() => PageChange(response.getCustomPageUri(currentPage))">
                        <span class="page-link">@currentPage</span>
                    </li>
                }
                <li class="page-item @((response.NextPage == null) ? "disabled" : "")" @onclick="() => PageChange(response.NextPage)">
                    <span class="page-link">Next</span>
                </li>
            </ul>
        </nav>
    }
</div>

@code {
    PagedResponse<IEnumerable<Product>>? response { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(200);
        var apiResponse = await _productService.getProducts(5, 1);
        if (!apiResponse.Succeeded)
        {
            return;
        }
        response = apiResponse;
    }
    private async Task PageChange(string? uri)
    {
        var apiResponse = await _productService.getProductsByPage(uri);
        if (!apiResponse.Succeeded)
        {
            return;
        }
        response = apiResponse;
        await Refresh();
    }
    public async Task Search(string filter)
    {
        var apiResponse = await _productService.getProducts(5, 1,filter);
        if (!apiResponse.Succeeded)
        {
            return;
        }
        response = apiResponse;
        await Refresh();
    }
    private async Task Refresh()
    {
        await InvokeAsync(StateHasChanged);
    }
}
